@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-radix';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 896px;
  --breakpoint-xl: 1160px;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: Museo Sans, Museo Sans Fallback;
  --font-condensed: Museo Sans Condensed, Museo Sans Condensed Fallback;
  --font-greek:
    Segoe UI, Helvetica Neue, Arial Unicode MS, Lucida Grande, sans-serif;

  --text-mega: 5rem;
  --text-mega--line-height: 5.25rem;
  --text-mega--font-weight: 700;
  --text-h1: 3.5rem;
  --text-h1--line-height: 3.875rem;
  --text-h1--font-weight: 700;
  --text-h2: 2.5rem;
  --text-h2--line-height: 3rem;
  --text-h2--font-weight: 700;
  --text-h3: 2rem;
  --text-h3--line-height: 2.25rem;
  --text-h3--font-weight: 700;
  --text-h4: 1.75rem;
  --text-h4--line-height: 2.25rem;
  --text-h4--font-weight: 700;
  --text-h5: 1.375rem;
  --text-h5--line-height: 2rem;
  --text-h5--font-weight: 700;
  --text-h6: 1rem;
  --text-h6--line-height: 1.25rem;
  --text-h6--font-weight: 700;
  --text-body-2xl: 2rem;
  --text-body-2xl--line-height: 2.25rem;
  --text-body-xl: 1.75rem;
  --text-body-xl--line-height: 2.25rem;
  --text-body-lg: 1.5rem;
  --text-body-lg--line-height: 2rem;
  --text-body-md: 1.25rem;
  --text-body-md--line-height: 1.75rem;
  --text-body-sm: 1rem;
  --text-body-sm--line-height: 1.25rem;
  --text-body-xs: 0.875rem;
  --text-body-xs--line-height: 1.125rem;
  --text-body-2xs: 0.75rem;
  --text-body-2xs--line-height: 1rem;
  --text-caption: 1.125rem;
  --text-caption--line-height: 1.5rem;
  --text-caption--font-weight: 600;
  --text-button: 0.75rem;
  --text-button--line-height: 1rem;
  --text-button--font-weight: 700;

  --color-border: hsl(var(--border));

  --color-input: hsl(var(--input));
  --color-input-invalid: hsl(var(--input-invalid));

  --color-ring: hsl(var(--ring));
  --color-ring-invalid: hsl(var(--foreground-danger));

  --color-background: hsl(var(--background));

  --color-foreground: hsl(var(--foreground));
  --color-foreground-danger: hsl(var(--foreground-danger));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  a {
    @apply outline-secondary/20 outline-offset-2;
  }

  :root {
    --font-sans: 'Museo Sans', 'Museo Sans Fallback';
    --font-condensed: 'Museo Sans Condensed', 'Museo Sans Condensed Fallback';

    --background: 14.99 19.26% 97%;
    --foreground: 28 9% 10%;
    --muted: 14.99 7% 90%;
    --muted-foreground: 14.99 5% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 13 6% 15%;
    --card: 0 0% 100%;
    --card-foreground: 13 6% 15%;
    --border: 28 5% 83%;
    --input: 28 5% 90%;
    --input-invalid: 0 84.2% 60.2%;
    --primary: 14.99 89.26% 54.59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 197.74 75.61% 51.76%;
    --secondary-foreground: 222.2 47.4% 96.2%;
    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --foreground-danger: 345 82.7% 40.8%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }
}

.post {
  header > h1 {
    @apply font-condensed text-primary mt-8 mb-4 text-3xl font-bold;
  }
}

.prose {
  @apply max-w-prose;
  h1 {
    @apply font-condensed text-secondary mt-8 mb-6 text-2xl font-bold;
  }

  h2 {
    @apply font-condensed mt-6 mb-4 text-xl font-bold;
  }

  h3 {
    @apply text-secondary mt-3 mb-2 text-lg font-bold;
  }

  blockquote {
    @apply border-l-primary border-l-4 pl-4 italic;
  }

  blockquote em {
    @apply text-xl;
  }

  ul {
    @apply list-inside list-disc;
  }

  p:not(:last-child) {
    @apply my-3;
  }

  figure:not(:last-child) {
    @apply my-3;
  }

  a {
    @apply text-secondary;
    text-decoration: underline;
  }
}

.table {
  @apply w-full border-spacing-1 overflow-hidden rounded-md text-lg shadow-sm;

  td:not(:last-child),
  th:not(:last-child) {
    @apply border-r-border border-r;
  }

  td,
  th {
    @apply bg-card;
  }

  thead {
    th {
      @apply border-b-secondary text-muted-foreground border-b-2 text-lg font-bold;
    }
  }

  tbody {
    tr:not(:last-child) td,
    tr:not(:last-child) th {
      @apply border-b-border border-b;
    }
  }

  td,
  th {
    @apply m-0 p-0 text-left;
  }

  td > div,
  th > div {
    @apply bg-card p-3;
  }

  tbody > th strong {
    @apply font-medium;
  }
}
