@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'museo-sans', sans-serif;
    --font-condensed: 'museo-sans-condensed';
    --font-mono: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New',
      'monospace';

    --background: 60 5% 96%;
    --foreground: 28 9% 10%;
    --muted: 18 7% 90%;
    --muted-foreground: 32 5% 32%;
    --popover: 0 0% 100%;
    --popover-foreground: 13 6% 15%;
    --card: 0 0% 100%;
    --card-foreground: 13 6% 15%;
    --border: 28 5% 83%;
    --input: 28 5% 83%;
    --input-invalid: 0 84.2% 60.2%;
    --primary: 14.99 89.26% 54.59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 197.74 75.61% 51.76%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --foreground-danger: 345 82.7% 40.8%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }
}

@layer utilities {
}

.table {
  @apply w-full border-spacing-1 overflow-hidden rounded-md text-lg shadow;

  td:not(:last-child),
  th:not(:last-child) {
    @apply border-r border-r-border;
  }

  td,
  th {
    @apply bg-card;
  }

  thead {
    th {
      @apply border-b-2 border-b-secondary text-lg font-bold text-muted-foreground;
    }
  }

  tbody {
    tr:not(:last-child) td,
    tr:not(:last-child) th {
      @apply border-b border-b-border;
    }
  }

  td,
  th {
    @apply m-0 p-0 text-left;
  }

  td > div,
  th > div {
    @apply bg-card p-3;
  }

  tbody > th strong {
    @apply font-medium;
  }
}
