@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_300-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 85.72%;
  descent-override: 22.28%;
  line-gap-override: 0%;
  size-adjust: 102.99%;
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_300_Italic-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Fallback';
  font-style: italic;
  font-weight: 300;
  src: local('Arial Italic');
  ascent-override: 85.65%;
  descent-override: 22.27%;
  line-gap-override: 0%;
  size-adjust: 103.07%;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 85.25%;
  descent-override: 21.93%;
  line-gap-override: 0%;
  size-adjust: 104.64%;
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_500-Italic-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Fallback';
  font-style: italic;
  font-weight: 500;
  src: local('Arial Italic');
  ascent-override: 85.66%;
  descent-override: 22.04%;
  line-gap-override: 0%;
  size-adjust: 104.14%;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_700-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 92.01%;
  descent-override: 23.41%;
  line-gap-override: 0%;
  size-adjust: 98.01%;
}
@font-face {
  font-family: 'Museo Sans';
  src: url('/fonts/MuseoSans_700-Italic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Arial Bold Italic');
  ascent-override: 92.09%;
  descent-override: 23.43%;
  line-gap-override: 0%;
  size-adjust: 97.93%;
}

/* Condensed */

@font-face {
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-300-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Condensed Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 108.08%;
  descent-override: 28.46%;
  line-gap-override: 0%;
  size-adjust: 81.68%;
}
@font-face {
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-300-Italic-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-500-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Condensed Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 106.6%;
  descent-override: 27.86%;
  line-gap-override: 0%;
  size-adjust: 83.78%;
}
@font-face {
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-500-Italic-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-700-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Condensed Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 113.78%;
  descent-override: 29.54%;
  line-gap-override: 0%;
  size-adjust: 79.35%;
}
@font-face {
  font-family: 'Museo Sans Condensed';
  src: url('/fonts/MuseoSansCnd-700-Italic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
