#page {
  display: grid;
  grid-template-areas:
    'lside head head rside'
    'lside main toc  rside'
    'lside foot foot rside';
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}
